@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  height: 100vh;
  background-color: #f7fafc;
  position: relative;
}
/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f3f4f6;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #172554;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #161554;
}
